<nav mfb-menu position="br" effect="fountain" 
     active-icon="fa fa-minus" resting-icon="fa fa-tasks"
     toggling-method="hover">  
     
  <button mfb-button icon="fa fa-arrows-alt" label="{{'FULLSCREEN' | translate}}" ngsf-toggle-fullscreen></button>
  <button mfb-button icon="fa fa-cogs" label="{{'CONFIGURATION' | translate}}" ui-sref="index.settings"></button>
  <button mfb-button icon="fa fa-table" label="{{'Module_Generator' | translate}}" ui-sref="index.module_generator"></button>
  <button mfb-button icon="fa fa-users" label="{{'USER' | translate}}" ui-sref="index.user"></button>  
</nav>